body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* navbar spacing */
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}
/* navbar headers size */
.nav-item{
  font-size: 18px;
}

.nav-link{
  position: relative;
}
.nav-link::after{
  content: '';
  opacity: 0;
  transition: all 0.2s;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
}
.nav-link:hover::after{
  opacity: 1;
}

/* for navbar  */
.navbar-custom {
  background-color: #2D3092 ;
}
/* .navbar {
  height: 0;
} */

/* toggle icon coloring */
.custom-toggler.navbar-toggler {
  border-color: white;
}

/* flag  */
.flag{
  width: 5rem;
  height: 7rem;
}

.heading h3{
  font-size:2vw;
}

/* mobile devices */
@media screen and (max-width: 480px) {
  .flag{
    width: 3rem;
    height: 5rem;
  }
  .heading h3{
    font-size: 12px;
  }
}


/* slide */
/* .carousel-item img{
  height: 33rem;
} */

/* Aboout */
.about-img{
  height: 29rem;
  width: 26rem;
  align-items: center;
}
.about-div{
  height: 35rem;
  
}